* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(18, 37, 95);
  main {
    padding: 10px;
    width: 800px;
    height: 535px;
    .container {
      background-color: rgb(255, 243, 227);
      padding: 40px;
      gap: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 15px double goldenrod;
      .head {
        color: rgb(2, 2, 99);
        text-transform: uppercase;
        font-size: 43px;
        font-weight: 800;
      }
      #start {
        font-weight: 700;
        color: blue;
      }
      #details {
        width: 50%;
        text-align: center;
        .cllg {
          font-weight: 900;
        }
        .topci{
          font-weight: 900;
        }
        .rating{
          color: rgb(255, 51, 0);
          // border: 2px solid orange;
        }
      }
      .bottom {
        padding: 12px 72px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .official {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 10px solid goldenrod;
          p {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 900;
            color: rgb(158, 117, 12);
          }
        }
        .sign {
          // border: 2px solid;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 20px;
          img {
            width: 150px;
            background: none;
          }
        }
      }
    }
  }
}
